* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 1em;
    background: linear-gradient(120deg, white, #36A9E1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}